<?xml version="1.0" encoding="UTF-8">
<gpx creator="mySeaMap" version="1.1">
<trk>
<trkseg>
{{#trackEntries}}<trkpt lat="{{latitude}}" lon="{{longitude}}"><time>{{timeStamp}}</time></trkpt>
{{/trackEntries}}</trkseg>
</trk>
</gpx>
